*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/**Header **/

header{
    background-color:#1B2834;
    padding-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
}
#logo{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin: 30px;
}
.ri-menu-line{
    height: 1000px;
    width: 50px;
    margin: 30px;
    font-size: 40px;
    color: #F1DFC5;
    cursor: pointer;
}
.top{
    display: flex;
    justify-content: space-between;
    height: 20px;
}
header h1{
    margin: 60px 20px 5px 100px;
}
.navs{
    display: none;
    background-color: rgba(44, 62, 80, 0.541); 
    position: absolute;
    top: 90px;
    right: 0;
    width: 20%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease;
}
#nav.active {
    display: block;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    text-align: center;
}
nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #F1DFC5;
    text-decoration: none;
    font-size: 16px;
}
#Profile {
    height: 72px; 
    width: 72px;
    border-radius: 40px; 
    float: left;
    margin-right: 10px;
    padding-top: 0px;
}
.text{
    overflow: hidden;
}
.text p{
    font-family: 'Roboto', sans-serif;
    color: #F2F2F2;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}
.img{
    padding-top: 20px;
    padding-right: 10px;
}
.hcontent{
    margin: 70px 120px 10px 100px;
}
.hcontent h2{
    padding-left: 80px;
    padding-bottom: 3px;
}
.hcontent p{
    font-weight: 500;
}

/**Body styling**/

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    color: #F1DFC5;
    font-weight: bold;
    padding: 20px 0 20px 0;
}
h3{
    color: white;
}
h1{
    font: size 28px;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #F2F2F2;
    background-color: #1F2E3D;
    transition: background-color 0.5s ease-in-out;
    font-weight: 100;
    line-height: 150%;
    font-size: 14px;
}
main{
    padding: auto;
}
h2{
    font-size: 20px;
}
#title{
    text-align: center;
}
.skills{
    padding-left: 30px;
}
.skills ul{
    padding-left: 80px;
}
.work-experience h2{
    margin: 10px 30px;
}
table{
    width: 80%;
    justify-content: center;
    text-align: center;
    margin-left: 40px;
}
th{
    font-weight: 200;
}
table, th ,tr, td{
    border: 1px solid #F2F2F2;
    border-collapse: collapse;
    padding: 3px;
}
.notable-achievements{
    padding-left: 30px;
}
.notable-achievements ul{
    padding-left: 60px;
}
.Buttons {
    display: flex;
    justify-content: center;
  }
button {
    justify-content: center;
    margin: 30px;
    background-color: #F1E2C5;
    color: #333333;
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }

button:hover {
    background-color: #f1e2c5f3;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }

  button:active {
    transform: translateY(2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

/**footer style**/

footer{
    background-color: #1B2834;
    padding: 10px 50px 10px 80px;
}
footer p{
    font-weight: 500;
    font-size: larger;
}
.contacts li {
    list-style-type: none; 
  }
.contacts li a{
    list-style-type: none;
    color: #F1DFC5;
    width: 24px;
    height: auto;
    font-size: 40px;
    text-decoration: none;
}
.contacts {
    margin: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-around;
}

/**Mobile Landscape**/
@media screen and (min-width: 550px) and (max-width: 850px) {
    #logo{
        border-radius: 60px;
        height: 60px;
        width: 60px;
    }
    .ri-menu-line{
        font-size: 60px;
    }
    .skills{
        display: flex;
        justify-content: space-around;
        padding: 5px 20px;
    }
    table{
        width: 80%;
        justify-content: center;
        text-align: center;
        margin-left: 70px;
    }
}
/***Tablet Portrait**/
@media screen and (min-width:851px) and (max-width: 1000px)  {
    #logo{
        border-radius: 70px;
        height: 70px;
        width: 70px;
    }
    .ri-menu-line{
        font-size: 70px;
        margin-top: 60px;
    }
    h2{
        font-size: 20px;
    }
    .hcontent h2{
        padding-left: 110px;
        padding-bottom: 15px;
        font-size: 28px;
    }
    .hcontent {
        margin: 70px 120px 10px 150px;
    }
    #Profile {
        height: 100px; 
        width: 100px;
        border-radius: 50px;
    } 
    .hcontent .text p {
        font-size: 18px; 
        line-height: 160%;
      }
    .skills{
        display: flex;
        justify-content: space-around;
        padding: 5px 20px;
    }
    table{
        width: 80%;
        justify-content: center;
        text-align: center;
        margin-left: 120px;
    }
    .notable-achievements{
        padding: 20px 30px;
    }
    button {
        margin-bottom: 50px;
    }
    .work_achievemnts{
        padding-left: 80px;
    }
    button{
        font-size: 18px;
    }
}

/**Tablet Landscape**/
@media screen and (min-width: 1001px) and (max-width: 1280px) {
    #menu {
        display: none; 
    }
    .navs {
        display: block; 
        position: static; 
        background-color: transparent; 
        box-shadow: none; 
        width: auto; 
        margin: 20px;
        padding: 20px;
    }
    nav ul {
        flex-direction: row; 
        justify-content: space-around;
    }
    nav ul li {
        margin: 0 30px; 
    }
    #logo{
        border-radius: 70px;
        height: 70px;
        width: 70px;
    }
    #Profile {
        height: 100px; 
        width: 100px;
        border-radius: 50px;
    } 
    .hcontent .text p {
        font-size: 18px; 
        line-height: 160%;
      }
    h2{
        font-size:22px ;
    }
    .hcontent h2{
        font-size: 30px;
    }
    .hcontent h2{
        padding-left: 110px;
        padding-bottom: 15px;
        font-size: 28px;
    }
    .hcontent {
        margin: 70px 100px 10px 150px;
    }
    .skills{
        display: flex;
        justify-content: space-around;
        padding: 5px 20px;
    }
    table{
        width: 80%;
        justify-content: center;
        text-align: center;
        margin-left: 100px;
    }
    .work-experience h2{
        margin: 0px 30px;
    }
    .work_achievemnts{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin: 5px 40px 5px 10px;
    }
    .work_achievemnts h2{
        padding-left:70px ;
    }
    button{
        font-size: 18px;
    }
}
/**Desktop**/
@media screen and (min-width: 1281px){
    #menu {
        display: none; 
    }
    .navs {
        display: block; 
        position: static; 
        background-color: transparent; 
        box-shadow: none; 
        width: auto; 
        margin: 20px;
        padding: 20px;
    }
    nav ul {
        flex-direction: row; 
        justify-content: space-around;
    }
    nav ul li {
        margin: 0 60px; 
    }
    #logo{
        border-radius: 70px;
        height: 70px;
        width: 70px;
    }
    #Profile {
        height: 110px; 
        width: 110px;
        border-radius: 60px;
    }
    .hcontent .text p {
        font-size: 20px; 
        line-height: 180%;
      }
    h2{
        font-size:24px ;
    }
    h3{
        font-size: 20px;
    }
    .hcontent h2{
        padding-left: 120px;
        padding-bottom: 20px;
        font-size: 32px;
    }
    .hcontent {
        margin: 50px 300px 10px 150px;
    }
    .skills{
        display: flex;
        justify-content: space-around;
        padding: 5px 20px;
    }
    table{
        width: 80%;
        justify-content: center;
        text-align: center;
        margin-left: 100px;
    }
    .work-experience h2{
        margin: 0px 30px;
    }
    .work_achievemnts{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin: 5px 40px 5px 10px;
    }
    .work_achievemnts h2{
        padding-left:70px ;
    }
    button{
        font-size: 20px;
        margin-bottom: 50px;
    }
    
}